[submodule "Packager"]
	path = Packager
	url = git://github.com/kamicane/packager.git

[submodule "mootools-core"]
	path = Vendor/mootools-core
	url = git://github.com/mootools/mootools-core.git

[submodule "mootools-more"]
	path = Vendor/mootools-more
	url = git://github.com/mootools/mootools-more.git

[submodule "mootools-extras"]
	path = Vendor/mootools-extras
	url = git://github.com/jpdery/mootools-extras.git
