/* Body
-----------------------------------------------------------------------------*/

body {
	background: #424242;
	color: #fefefe;
	font-family: "Helvetica Neue", Arial;
	font-size: 14px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}

#wrap {
	min-width: 1108px;
}

/* Navigation
-----------------------------------------------------------------------------*/

#nav {
	background: url(../images/nav-bg.png) repeat-x;
	height: 42px;
	line-height: 40px;
	margin-bottom: 40px;
}

#nav > ul > li {
	background: url(../images/nav-border.png) no-repeat top right;
	cursor: pointer;
	color: #acacac;
	float: left;
	list-style: none;
	list-style-position: outside;
	height: 40px;
	line-height: 40px;
	padding-left: 25px;
	padding-right: 25px;
}

#nav > ul > li:hover {
	background-color: #212121;
	color: #ffffff;
}

#nav > ul > li .option {
	-webkit-border-radius: 8px;
	background: #000000;
	display: inline;
	font-size: 11px;
	font-weight: normal;
	padding: 3px;
}

#nav > ul > li .option:hover {
	background: #333333;
}

#nav > ul >	 li .option.current {
	background: #666666;
	color: #ffffff;
}

#nav > ul > li .apps {
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-box-shadow: 0px 5px 15px 5px #222222;
	background: rgba(51, 51, 51, 0.9);
	display: none;
	margin-left: -25px;
	position: relative;
	z-index: 9999;
}

#nav > ul > li:hover .apps {
	display: block;
	position: absolute;
}

#nav > ul > li:hover .apps li {
	border: none;
	border-top: 1px solid rgba(255, 255, 255, 0.05);
	float: none;
	font-size: 13px;
	font-weight: bold;
	list-style: none;
	min-width: 150px;
	padding: 0px;
	padding-left: 25px;
	padding-right: 25px;
}

#nav > ul > li:hover .apps li:first-child {
	border: none;
}

#nav > ul > li:hover .apps li:hover {
	background: #666666;
	color: #ffffff;
}

/* Device
-----------------------------------------------------------------------------*/

#device {
	-webkit-box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}

#window {
    position: relative;
}

#device [data-axis=s],
#device [data-axis=r],
#device #window,
#device #content,
#device #app {
	-webkit-transform-origin: 50% 50%;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0ms;
	-webkit-transition-timing-function: cubic-bezier(0.5, 0.1, 0.5, 1);
	-webkit-backface-visibility: hidden;
}

#device.animated [data-axis=s],
#device.animated [data-axis=r],
#device.animated #window,
#device.animated #content,
#device.animated #app {
	-webkit-transition-duration: 350ms;
}

#device [data-axis=r].portrait	{ -webkit-transform: rotate(0deg);	}
#device [data-axis=r].landscape { -webkit-transform: rotate(90deg); }

#device [data-axis=s].normal { -webkit-transform: translateY(0px)	 scale(1.00); }
#device [data-axis=s].medium { -webkit-transform: translateY(-12.5%) scale(0.75); }
#device [data-axis=s].small	 { -webkit-transform: translateY(-25%)	 scale(0.50); }

#device [data-axis=r].portrait #content {
	-webkit-transform: rotate(0deg);
	-webkit-transition-delay: 350ms;
}

#device [data-axis=r].landscape #content {
	-webkit-transform: rotate(-90deg);
	-webkit-transition-delay: 0ms;
}

#device.animated [data-axis=r].landscape #content {
	-webkit-transition-delay: 350ms;
}

#loader {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

/* Bar
-----------------------------------------------------------------------------*/

#bar {
    position: relative;
    
	display: block;
	height: 20px;
	width: 100%;
}

#bar #bar-lf {
    position: absolute;
    top: 0;
    left: 0;
    
	width: 52px;
	height: 20px;
	
	-moz-background-size: 52px, 20px;
	-webkit-background-size: 52px, 20px;
	-o-background-size: 52px, 20px;
	background-size: 52px, 20px;
}

#bar #bar-ct {
    font-size: 14px;
    font-family: HelveticaNeue-Bold, "Helvetica Neue Bold";
    color: black;
	line-height: 18px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    
    text-shadow: 0px 1px 1px white;
}

#bar #bar-rg {
    position: absolute;
    top: 0;
    right: 0;

	width: 27px;
	height: 20px;
	
	-moz-background-size: 27px, 20px;
	-webkit-background-size: 27px, 20px;
	-o-background-size: 27px, 20px;
	background-size: 27px, 20px;
}

#window.full-size #bar {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}

/* Default */

#bar.default {
	background: url(../images/bars/default_bg.png) repeat-x;
	
	-moz-background-size: 1px, 20px;
	-webkit-background-size: 1px, 20px;
	-o-background-size: 1px, 20px;
	background-size: 1px, 20px;
}

#bar.default #bar-lf {
	background: url(../images/bars/default_left.png);
}

#bar.default #bar-rg {
	background: url(../images/bars/default_right.png);
}

/* Black */

#bar.black {
	background-color: black;
	background-image: none;
}

#bar.black #bar-lf {
	background: url(../images/bars/black_left.png);
}

#bar.black #bar-ct, #bar.black-translucent #bar-ct {
    color: #bfbfbf;
	text-shadow: none;
}

#bar.black #bar-rg {
	background: url(../images/bars/black_right.png);
}

/* Transparent */

#bar.black-translucent {
    background-color: rgba(0,0,0,.8);
}

#bar.black-translucent #bar-lf {
	background: url(../images/bars/transparent_left.png);
}

#bar.black-translucent #bar-rg {
	background: url(../images/bars/transparent_right.png);
}

/* App
-----------------------------------------------------------------------------*/

#app {
	background: #333333;
}

#mask {
	overflow: hidden;
}

/* iPad
-----------------------------------------------------------------------------*/

#device.ipad {
	height: 1108px;
	width: 852px;
}

#device.ipad #window {
	-webkit-box-sizing: border-box;
	background: url(../images/frames/ipad.png);
	height: 1108px;
	padding: 42px;
	width: 852px;
}

#device.ipad [data-axis=r].portrait #content {
	-webkit-transform: rotate(0deg) translateX(0px) translateY(0px);
	-webkit-transition-delay: 350ms;
	height: 1004px;
	width: 768px;
}

#device.ipad [data-axis=r].landscape #content {
	-webkit-transform: rotate(-90deg) translateX(-138px) translateY(-138px);
	height: 748px;
	width: 1024px;
}

/* iPhone
-----------------------------------------------------------------------------*/

#device.iphone {
	height: 744px;
	width: 382px;
}

#device.iphone #window {
	-webkit-box-sizing: border-box;
	
	background: url(../images/frames/iphone4s.png);
	-moz-background-size: 382px, 744px;
	-webkit-background-size: 382px, 744px;
	-o-background-size: 382px, 744px;
	background-size: 382px, 744px;
	
	height: 744px;
	width: 382px;
	
	padding: 132px 31px 132px 31px;
}

#device.iphone #glare {
    position: absolute;
    top: 8px;
    right: 6px;
    z-index: 2000;
    
    background: url(../images/frames/iPhone_glare.png);
    -moz-background-size: 360px, 726px;
	-webkit-background-size: 360px, 726px;
	-o-background-size: 360px, 726px;
	background-size: 360px, 726px;
	
    width: 360px;
    height: 726px;
    
    opacity: .5;
    
    pointer-events: none
}

#device.iphone #mask {
	height: 480px;
	width: 320px;
}

#device.iphone [data-axis=r].portrait #content {
	-webkit-transform: rotate(0deg) translateX(0px) translateY(0px);
	-webkit-transition-delay: 350ms;
	height: 480px;
	width: 320px;
}

#device.iphone [data-axis=r].landscape #content {
	-webkit-transform: rotate(-90deg) translateX(-80px) translateY(-80px);
	height: 320px;
	width: 480px;
}